body {
    
    padding-top: 65px;
    
}

.bg-light {
    
    border-bottom: 1px #ccc solid;
    
}

.promo-slide {

    background: #fff;

}

.container-my {
    
    max-width: 1260px !important;   

}

.navbar-nav li.nav-item a.m-link, .navbar-nav li.nav-item a.u-link  {

    padding-left: 25px;
    padding-right: 25px;
    color: #000;
    position: relative;
    font-weight: 400;
    
}

.animal_avatar {
    
    border-radius: 50%;
    width: 100%;
    
}

.navbar-nav .dropdown-item {
    
    padding: 8px 50px 8px 20px; 
    min-width: 160px !important;
    
}

.navbar-nav [data-icon]:before {
    font-family: 'Metrize-Icons';
    content: attr(data-icon);
    speak: none;
    margin-left: -10px;
    margin-top: 8px;
    top: 3px;
    position: relative;
    font-size: 15pt !important;
    line-height: 15pt !important;
    margin-right: 20px;
}

.navbar-nav li.nav-item a.m-link:after {
    
    position: absolute;
    left: 0px;
    content: '';
    height: 0;
    display: block;
    width: 100%; 
    background: #2196F3;
    transition: all 200ms ease-in-out;	
    opacity: 1;
    bottom: -14px;
    
}

.box-title {
    margin-bottom: 40px;
}

.none-objects {
    
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.navbar-nav li.nav-item a.m-link:hover {
    
    transition: all 200ms ease-in-out;
    color: #2196F3;
    
}

.navbar-nav li.nav-item a.nav-link:hover:after {
    
    height: 3px;
    
}

.set-kind-animal {
    
    background-color: #fff;
    
}

.set-kind-animal .card {
    
    position: relative;
    
}

.set-kind-animal:hover {

    text-decoration: none;

}    
    
.set-kind-animal:hover .card .card-body .img {
    
    width: 70px;
    -webkit-transition: all 0.2s ease-out 0.1s;
    -moz-transition: all 0.2s ease-out 0.1s;
    -o-transition: all 0.2s ease-out 0.1s;
    transition: all 0.2s ease-out 0.1s;
    
}

.set-kind-animal:hover .card {
    
    background: #eee;
    -webkit-transition: all 0.2s ease-out 0.1s;
    -moz-transition: all 0.2s ease-out 0.1s;
    -o-transition: all 0.2s ease-out 0.1s;
    transition: all 0.2s ease-out 0.1s;
    
}

.set-kind-animal .card .yes-kind {
    
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 5px;
    right: 5px;
    display: none;
    z-index: 1000;
    
}

.typeahead li.active a.dropdown-item {
    
    background: #2780E3;
    color: #fff;
    
}

.select-kind .card .yes-kind {
    
    display: block;
    
}
